@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');
*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	font-family: montserrat;
	box-sizing: border-box;

}

html{ font-size: 62.5%;
	background-color: black;
}

.margen{
	margin: 0px;
}
.gris{
	background-color: gray;
	border-top: solid;
	border-width: 5px;
}

.grisclaro{
	background-color: lightgray;
	border-top: solid;
	border-bottom: solid;
	border-width: 5px;
}

.grid{
	width: 100%;
	display: grid;
}

.grid-template-areas{
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 157px 560px 700px 128px;
	grid-template-areas: 
	"div div div"
	"header header header"
	"main main main"
	"pie pie pie";	
}

#div{
	grid-area: div;
	text-decoration: none;
}

#navegador{
	grid-area: nav;
}

#cabeza{
	grid-area: header;
}

#principal{
	grid-area: main;
}

#pie{
	grid-area: pie;
}

.textonav{	
			text-decoration: none;		
			color: black;
			list-style: none;
			font-family: montserrat;
			font-size: 1.5rem;
			display: flex;
			flex-direction: row;
			padding: 8px 8px;
			justify-content:flex-end;			
}

.padnav{
	padding-right: 20px;
}

.ancho100{
	width: 100%;
}

.ancho{
	width: 16.6%
}

.ancho50{
	width: 50%;
}
.galerias{
	background-color: black;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.estiloparrafo{
	color:whitesmoke;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	line-height: 2.1rem;
	font-weight: 300;
	text-align: left;
	padding: 60px 40px 5px 50px;	

}

.caja_video{
	margin: 10px;
	padding: 20px 40px 5px 50px;
}

.container_2{
	padding: 5px;
	background-color: gray;
	display: flex;
	flex-direction: row;
}

.container_pie{
	padding: 20px;
	background-color: black;
	flex-direction: column;
	column-gap: 30px;
	width: 50% ;
	color:whitesmoke;
	padding-top: 20px;
	padding-bottom: 40;

}

.display_footer{
	display: flex;
}	

.posicion{
	position: center;
}

.gap_pie{

	padding-bottom: 15px;
}

.flex_der{
	align-content:flex-end;
}

157px 560px 700px 128px ;
